@import "tailwindcss";

:root {
   --background: var(--color-white);
   --foreground: var(--color-neutral-950);
   --foreground-secondary: var(--color-neutral-300);
   --outline: var(--color-neutral-300);
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-secondary: var(--foreground-secondary);
   --color-outline: var(--outline);
}

::selection {
   color: var(--background);
   background-color: var(--foreground);
}

@theme {
   --animate-blink: blink 0.8s linear infinite;

   @keyframes blink {
      0% {
         opacity: 0;
      }
      100 % {
         opacity: 1;
      }
   }
}

.dark {
   --background: var(--color-neutral-900);
   --foreground: var(--color-white);
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: "figtree", sans-serif;
}

input[type="number"] {
   -moz-appearance: textfield;
}

button {
   cursor: pointer;
}

button:disabled {
   cursor: not-allowed;
}
